extends layout

block content
    .inner
        form.form.formReset(method="POST" novalidate)
            h2 Reset Your Password
            div.form-group
                label(for="password") Password
                input(type="password" name="password")
                small Error message
            div.form-group
                label(for="password-confirm") Confirm Password
                input(type="password" name="passwordConfirm")
                small Error message
            input(type="hidden" name="_csrf" value=(csrfToken))
            input.button(type="submit" value="Reset Password ➡")  