extends layout 

include mixins/_storeCard
include mixins/_pagination

block content 
    //- pre= h.dump(page)
    .inner 
        h2= title
        if (stores.length)
            .stores
                each store in stores
                    +storeCard(store)
            if !(heartedStores)
                +pagination(page, pages, count)
        else 
            p There are no stores.
