extends layout 

include mixins/_storeCard
include mixins/_pagination

block content 
    //- pre= h.dump(stores)
    .inner 
        h2= title
        .stores
            each store in stores
                +storeCard(store)
        +pagination(page, pages, count)
