mixin forgotForm()
    form.form.formForgot(action="/account/forgot" method="POST" novalidate)
        h2 I forgot my password!
        div.form-group
            label(for="email") Email
            input(type="email" name="email")
            small Error message
        input.button(type="submit" value="Send a Reset")
