mixin loginForm()
    form.form.formLogin(action="/login" method="POST" novalidate)
        h2 login
        div.form-group
            label(for="email") Email Address
            input(type="email" name="email")
            small Error message
        div.form-group
            label(for="password") Password
            input(type="password" name="password")
            small Error message
        input(type="hidden" name="_csrf" value=(csrfToken))
        input.button(type="submit" value="Log In ➡") 