//- register route, there will be no body object passed in unless there is a registration error detected on the server side. Therefore set store = {} as a default
mixin registerForm(body = {})
    form.form.formRegister(action="/register" method="POST" novalidate)
        h2 register
        div.form-group
            label(for="name") Name
            input(type="text" name="name" value=body.name autofocus)
            small Error message
        div.form-group
            label(for="email") Email
            input(type="email" name="email" value=body.email)
            small Error message
        div.form-group
            label(for="password") Password
            input(type="password" name="password" value=body.password)
            small Error message 
        div.form-group
            label(for="password-confirm") Confirm Password 
            input(type="password" name="passwordConfirm" value=body.passwordConfirm)
            small Error message
        input(type="hidden" name="_csrf" value=(csrfToken))
        input.button(type="submit" value="Register ➡") 