input, textarea {
  width:100%;
  padding: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}


.form-group small {
    display: block;
    visibility: hidden;
    margin-bottom: 10px;
}

.form-group.success input {
    border-color: $greenSuccess;
}

.form-group.error input {
    border-color: $red;
}

.form-group.error small {
    visibility: visible;
    color: $red;
}
