* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 10px;
}

body::-webkit-scrollbar {
    width: auto;
}

body {
  background: $purple;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
  scrollbar-color: $black $yellow;
}

body::-webkit-scrollbar-track {
    background: $black;
}

body::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 6px;
}

.content {
  margin-bottom: 50px;
}

.inner {
  max-width:900px;
  margin: 0 auto;
  padding: 2rem;
}

button:hover {
  cursor: pointer;
}