.map {
  padding: 20px;
  background: white;
  box-shadow: $shad;
}

.map-container {
  height: 500px;
}

#map {
  height: 100%;
}

.custom-map-control-button {
  font-size: 1.5rem;
  opacity: 0.8;
   &:hover {
    cursor: pointer;    
  }
}

.custom-map-control-button {
  margin-top: 4rem;
   @extend %button-shared;
  background: $yellow;
  color: $black;
  margin-top: 2rem;
}

@media all and (max-width: 650px) {
  .custom-map-control-button {
    margin-top: 6rem;
  }
}
 